<footer>
    <div class="container">
        <div class="top-footer">
            <div class="row">
                <div class="col-md-9">
                    <div class="subscribe-form">
                        <span>Get in touch with us</span>
                        <form method="get" class="subscribeForm">
                            <input id="subscribe" type="text" />
                            <input type="submit" id="submitButton" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p>Copyright © 2084 Positive John | Design: <a href="http://www.templatemo.com">templatemo</a></p>
            </div>
            <div class="col-md-6 col-sm-6">
                <ul class="social">
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-instagram"></a></li>
                    <li><a href="#" class="fa fa-google-plus"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>