.box-content {
    background: white;
    padding: 0px 50px 50px 50px;
    overflow: hidden;
    border: 2px solid #efefef;
}

.contact-form-inner p {
    margin-bottom: 10px;
    display: block;
}
.contact-form-inner label {
    min-width: 150px;
    display: inline-block;
}
.contact-form-inner input {
    width: 40%;
}
.contact-form-inner textarea {
    max-width: 64%;
    width: 64%;
    min-height: 120px;
}
.contact-form-inner input.submitBtn {
    margin-left: 95px;
}
@media screen and (min-width: 769px) and (max-width: 991px) {
    .contact-form-inner {
        margin-bottom: 40px;
    }
    .contact-form-inner input {
        width: 60%;
    }
    .contact-form-inner textarea {
        width: 60%;
        max-width: 60%;
    }
}
@media screen and (max-width: 768px) {
    .contact-form-inner {
        margin-bottom: 40px;
    }
    .contact-form-inner input {
        width: 100%;
    }
    .contact-form-inner textarea {
        max-width: 100%;
        width: 100%;
        display: block;
    }
    .contact-form-inner label {
        width: 100%;
        display: block;
    }
    .contact-form-inner input.mainBtn {
        margin-left: 0;
    }
}


button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    border: 1px solid #d5d5d5;
    outline: 0;
    padding: 10px 12px;
    color: #aaaaaa;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


input.submitBtn {
    text-transform: uppercase;
    background: white;
    color: #2c2c2c;
    font-weight: 700;
    padding: 14px 17px;
    transition: all 200ms ease-in-out;
}
input.submitBtn:hover {
    color: #f69730;
    border-color: #f69730;
}

.form-row {
    margin-top: 10px;
    margin-bottom: 10px;
}


.incorrect {
    outline: none;
    border-color: #ed6f34;
    box-shadow: 0 0 10px #ed6f34;
}


#contact {
    background: #ed6f34 url(../images/skin/contact.png) no-repeat top center;
    background-size: cover;
    margin-top: -60px;
    margin-bottom: 0px;
    padding-bottom: 60px;
    padding-top: 20px;
    position: relative;
    z-index: 14;
}
#contact .section-header {
    margin-bottom: 80px;
}
.content-section {
    padding-top: 80px;
}

.form-message {
    font-weight: 700;
    color: #ed6f34;
}

